// Base
@font-face {
 font-family: 'Playfair Display', serif;
 src: url('assets/font/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype'),
     url('assets/font/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
 font-weight: 400 700;
 font-stretch: 75% 125%;
 font-style: oblique 0deg 20deg;
}

html, body {
  overflow-x: hidden;
  display: block;
  margin: 0;
  *, :after, :before {
      box-sizing: border-box;
  }
}

html {
  width: 100%;
  border: 0.15rem solid $primary;
}

body {
  margin: 0 auto;
  width: 80%;
  padding: 0 .25rem;

  @include breakpoint(largmedium up) {
    width: 50rem;
    //800p, original 37.5rem 600px and midmedium
  }
}

// sitemap
.sitemap {
  padding-bottom: 8rem;
}


// CMS editor updates
html .mce-content-body {
  outline-offset: -2px;
}
