// Footer
footer {
  padding-bottom: 4rem;
  @include breakpoint(medium up) {
    padding-bottom: 5rem;
  }

  .footer__banner {
    text-align: justify;
    margin-bottom: 3rem;
    &:after {
        content: '';
        display: inline-block;
        width: 100%;

    }
    @supports (display: flex) {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
    }

  }
  .footer__banner:after {
    @supports (display: flex) {
      content:none;
    }
  }

  img.footer__banner_img {
    width: 20%;
    opacity: 50%;
    display: inline-block;
  }

  .footer__copyright {
    font-size: $small-font-size;
    font-style: italic;

  }

}
