// Footer
footer {
  padding-bottom: 4rem;
  @include breakpoint(medium up) {
    padding-bottom: 5rem;
  }

  .footer__banner {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin-bottom: 3rem;
    &_img {
      width: 20%;
      opacity: 50%;
      @include breakpoint(medium up) {
        width: 100%;
      }
    }
  }

  .footer__copyright {
    font-size: $small-font-size;
    font-style: italic;

  }

}
