// Main Content Area
main#main_content {
  overflow-x: hidden;
  padding-top: 10rem;
  padding-right: 0;

  article {
    padding-bottom: 7rem; //200px
    @include breakpoint(medium up) {
      padding-bottom: 11.5rem; //200px
    }
    &:last-child {
      padding-bottom: 3rem;
    }

    header {
      margin-bottom: 1.5rem;
    }

    &.reference_section {
      border: 1px dashed $primary;
    }
  } // end article

  section {
    img {
      padding-bottom: 2.5rem;
    }

    .ninetyfive_image_width {
      padding-right: 1rem;
      padding-left: 1rem;
    }
    .ninety_image_width {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      @include breakpoint(medium up) {
        padding-right: 1.937rem;
        padding-left: 1.937rem;
      }

    }
    .eightyfive_image_width {
      padding-right: 2rem;
      padding-left: 2rem;

      @include breakpoint(medium up) {
        padding-right: 2.875rem;
        padding-left: 2.875rem;
      }

    }
    .eighty_image_width {
      padding-right: 2.5rem;
      padding-left: 2.5rem;
      @include breakpoint(medium up) {
        padding-right: 4.1rem;
        padding-left: 4.1rem;
      }
    }
    .seventyfive_image_width {
      padding-right: 3rem;
      padding-left: 3rem;

      @include breakpoint(medium up) {
        padding-right: 5.05rem;
        padding-left: 5.05rem;
      }

    }

    .seventy_image_width {
      padding-right: 3.25rem;
      padding-left: 3.25rem;
      @include breakpoint(medium up) {
        padding-right: 6rem;
        padding-left: 6rem;
      }
    }

    .sixtyfive_image_width {
      padding-right: 3.5rem;
      padding-left: 3.5rem;
      @include breakpoint(medium up) {
        padding-right: 7.25rem;
        padding-left: 7.25rem;
      }
    }

    .sixty_image_width {
      padding-right: 3.75rem;
      padding-left: 3.75rem;
      @include breakpoint(medium up) {
        padding-right: 9.1rem;
        padding-left: 9.1rem;
      }
    }

    .fiftyfive_image_width {
      padding-right: 4rem;
      padding-left: 4rem;
      @include breakpoint(medium up) {
        padding-right: 10.35rem;
        padding-left: 10.35rem;
      }
    }

    .fifty_image_width {
      padding-right: 4.25rem;
      padding-left: 4.25rem;
      @include breakpoint(medium up) {
        padding-right: 12.25rem;
        padding-left: 12.25rem;
      }
    }



  }

// video area
  #video_div {
    width: 100%;
    margin-bottom: 1.5rem;
    height: 100%;
    @include breakpoint(lsmall up) {
      height: 350px;
    }
    @include breakpoint(largmedium up) {
      margin-bottom: 2.5rem;
      height: 450px;
    }
  }

  #video_frame {
    width: 100%;
    border: 0;
    height: 100%;
    //original width="600" height="338"
  }

} // end main_content
