// Main Content Area
main#main_content {
  overflow-x: hidden;
  padding-top: 10rem;
  padding-right: 0;

  article {
    padding-bottom: 7rem; //200px
    @include breakpoint(medium up) {
      padding-bottom: 11.5rem; //200px
    }
    &:last-child {
      padding-bottom: 3rem;
    }

    header {
      margin-bottom: 4rem;
    }
  } // end article

  section {
    img {
      padding-bottom: 2.5rem;
    }

    img.img_full_width_extra_large {

    }
    img.img_width_large {
      padding-right: 1rem;
      padding-left: 1rem;
    }
    img.img_width_extra_medium {
      padding-right: 2rem;
      padding-left: 2rem;

    }
    img.img_width_medium {
      padding-right: 2.5rem;
      padding-left: 2.5rem;

      @include breakpoint(medium up) {
        padding-right: 3rem;
        padding-left: 3rem;
      }
      
    }
    img.img_width_extra_small {
      padding-right: 3rem;
      padding-left: 3rem;
    }
    img.img_width_small {
      padding-right: 3.5rem;
      padding-left: 3.5rem;

      @include breakpoint(medium up) {
        padding-right: 4rem;
        padding-left: 4rem;
      }

    }

  }

// video area
  #video_div {
    width: 100%;
    height: 300px;
    @include breakpoint(msmall up) {
      margin-bottom: 2.5rem;
      height: 450px;

    }
  }

  #video_frame {
    width: 100%;
    border: 0;
    //original width="600" height="338"
  }

} // end main_content
