<footer>
  <div class="footer__banner">
      <img src="{{root}}assets/graphics/LAS_emboss_flat_100w_50op.png" alt="LAS" class="footer__banner_img">
      <img src="{{root}}assets/graphics/LAS_emboss_flat_100w_50op.png" alt="LAS" class="footer__banner_img">
      <img src="{{root}}assets/graphics/LAS_emboss_flat_100w_50op.png" alt="LAS" class="footer__banner_img">
  </div>

  <div class="footer__copyright">
    <p>Website Built by: <a href="https://skrdesign.com">SKR Design LLC</a> / Designed by: Cassie Ramsay Anderson<br />Copyright 2009&mdash;<span id="year"></span>, all rights reserved, Linda Anderson Stewart.</p>
  </div>
</footer>
