<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="Linda Anderson Stewart - Fine Artist">
  <meta name="keywords" content="Linda Anderson Stewart, Linda Anderson Stewart Fine Artist, Linda Anderson Stewart Painter, Linda Anderson Stewart Fine Art Painter, Alberta Artist, Alberta Painter, Canada Painter Canada Artist, Canadian Artist, Alberta Painter, Canadian Painter, Linda Anderson Stewart Alberta Fine Art Painter, Linda Anderson Stewart Alberta Painter, Linda Anderson Stewart Fine Art Canadian Painter, Linda Anderson Stewart Canadian Painter">
  <title>Linda Anderson Stewart - Fine Artist</title>

  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{root}}assets/css/app.css">

  <!-- start favicon -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{root}}assets/img/fav/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{root}}assets/img/fav/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{root}}assets/img/fav/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{root}}assets/img/fav/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{root}}assets/img/fav/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{root}}assets/img/fav/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="{{root}}assets/img/fav/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{root}}assets/img/fav/favicon-16x16.png" sizes="16x16">
  <meta name="application-name" content="Linda Anderson Stewart">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="{{root}}assets/img/fav/mstile-144x144.png">
  <!-- end favicon -->

  <!-- Google tags -->

</head>
