<header class="header__container">
  <img class="shot_top" src="{{root}}/assets/img/screenshot_top_2.png" alt="">
  <!-- <h1>
    L<span>inda</span> A<span>nderson</span> S<span>tewart</span>
  </h1>
  <img class="header__top_image" src="{{root}}/assets/img/Linda_Anderson_Stewart_L1110274_1200.jpg" alt="Linda Anderson Stewart header image of a flower">
  <h2>B.F.A.</h2>
  <h3>Oil Paintings &amp; Watercolours</h3>
  <img class="header__container_curly" src="{{root}}/assets/graphics/2020_curly_bitmap_2_flat.png" alt="Curly graphic"> -->
</header>
